.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
/* border: 1px dashed #fcfc06;*/
} 

h2 {
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.feedback_contacts_legend {
  font-size: 16px;
  font-family: "Roboto";
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
}
input {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(118, 118, 118);
  line-height: 1.2;
  text-align: left;
}
.background_img_contacts{ 
  
   background: url(../images_my/background-blurry-restaurant-shop-interior_crop.jpg) 100% 100% no-repeat;/* Добавляем фон */
    height: 500px; /* Высота блока */
    background-size: cover; /* Масштабируем фон */
}
.map-contacts {
  height: auto; /* Высота блока */
  width: 480px;
  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 10px;

}
.our_feedback {
  padding-top: 35px;
}

.paragr {
  padding-top: 30px;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
 }


