.container_about_for_img {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
/*  border: 1px dashed #fcfc06;*/
} 
.container_about_us {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
/*    border: 1px dashed #fcfc06;*/
} 

h2 {
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.background_img_about_us{ 
    background: url('../images_my/background_about_us.png') 100% 100%  no-repeat;/* Добавляем фон */
   /* height: auto;*/ /* Высота блока */
    margin-top: 3px;
    background-size: cover; /* Масштабируем фон */
    padding-top: 100px;
 /*     border: 1px dashed red;*/
}
.center_btn {
  padding-top: 20px;
}
.paragr_about_us {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;
}

